{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-2" style="margin-top:13%" >
    <h4>ADD RESERVATION</h4>
<form method="post" enctype="multipart/form-data" action="insertReservation">
    {% csrf_token %}
        <label class="form-label">Date Reseravtion:</label>
        <input type="date" class="form-control" name="dateres">
        
        <input type="submit" value="ADD RESERVATION" class="btn btn-primary my-2" name="add">
    </form>
</div>
{% endblock  %}

