{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-2" style="margin-top:13%" >
    <h4>UPDATE RESTAURANT</h4>
<form method="POST" enctype="multipart/form-data" action="../../updateRestaurant/{{Restaurantdata.id}}/">
    {% csrf_token %}
   
    <label class="form-label">Name:</label>
    <input type="text" class="form-control" name="name">
    <label class="form-label">Type:</label>
    <input type="text" class="form-control" name="typec">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="description"></textarea>
    <label class="form-label">Image:</label>
    <input type="file" class="form-control" name="image">
        <input type="submit" value="UPDATE RESTAURANT" class="btn btn-primary my-2" name="update">
    </form>
</div>
{% endblock  %}

