{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-2" style="margin-top:13%" >
    <h4>ADD EXPERIENCE</h4>
<form method="POST" enctype="multipart/form-data" action="insertExperience">
    {% csrf_token %}
        <label class="form-label">Rating/5:</label>
        <input type="number" class="form-control" name="name">
        <label class="form-label">Content</label>
        <textarea class="form-control" name="content"></textarea>
        <input type="submit" value="ADD EXPERIENCE" class="btn btn-primary my-2" name="add">
    </form>
</div>
{% endblock content %}

