<footer
          class="text-center text-lg-start text-white"
          style="background-color: black;margin-top:0%"
          >

    <section
             class="d-flex justify-content-between p-4"
             style="background-color: whitesmoke"
             >
      
      <div class="me-5 text-black">
        <p>Get connected with us on social networks:</p>
      </div>
      <div>
        <a href="" class="text-primary me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="text-black me-4">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="" class="text-danger me-4">
          <i class="bi bi-google"></i>
        </a>
        <a href="" class=" me-4" style="color: #6f42c1;">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="text-primary me-4">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="bi bi-github"></i>
        </a>
      </div>
     
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">DreamTravel</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
                Embark on unforgettable journeys with DREAMTRAVEL and turn your dreams into cherished memories.
         </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#" class="text-white">SignUp</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Marrakesh,40000,Morocco</p>
            <p><i class="fas fa-envelope mr-3"></i> contact@DreamTravel.com</p>
            <p><i class="fas fa-phone mr-3"></i> +21266666668</p>
            <p><i class="fas fa-print mr-3"></i> +21266666669</p>
          </div>
        </div>
      </div>
    </section>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2024 Copyright:
      <a class="text-white" href=""
         >www.DreamTravel.com</a
        >
    </div>
  </footer>